{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
    <form class="form-inline" enctype="multipart/form-data" action="?m=cashimportokbs&act=parsexml" method="POST">
        <input type="hidden" name="MAX_FILE_SIZE" value="5000000" />
        <input class="form-control" name="plik" type="file" />
        <input class="form-control" name="submit" type="submit" value="Wyslij" />
    </form>

    {if $rows_affected}
        <p>Dodano {$rows_affected} rekordów. Na kwotę {$suma_wplat} zł.</p>
    {/if}

    {if $arr}
        <h1>Dane prawidłowe:</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>L.p.</th>
                        <th>Data ksiegowania</th>
                        <th>Kwota</th>
                        <th>Zleceniodawca</th>
                        <th>Tytułem</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$arr item=i}
                        <tr>
                            <td>{$i.id}</td>
                            <td>{$i.date}</td>
                            <td>{$i.value}</td>
                            <td>{$i.customer}</td>
                            <td>{$i.description}</td>
                        </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    {/if}

    {if $arr_dup}
        <h1>Duplikaty:</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>L.p.</th>
                        <th>Data ksiegowania</th>
                        <th>Kwota</th>
                        <th>Zleceniodawca</th>
                        <th>Tytułem</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$arr_dup item=i}
                        <tr>
                            <td>{$i.id}</td>
                            <td>{$i.date}</td>
                            <td>{$i.value}</td>
                            <td>{$i.customer}</td>
                            <td>{$i.description}</td>
                        </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
    {/if}

{/block}