{include file="header.html"}
<table class="lmsbox">
    <thead>
        <tr>
            <th>
                <form method="get" name="formpbx" action="?m=balanceconnections&year={$year}&$month={$month}">
                <INPUT TYPE="HIDDEN" NAME="m" VALUE="balanceconnections">
                <select size="1" name="year">
                    {section name=y max=($currentYear-$firstYear+1) loop=$currentYear+1 step=-1}
                        <option {if ($smarty.get.year eq $smarty.section.y.index)}  selected {/if} value={$smarty.section.y.index}>{$smarty.section.y.index}</option>
                    {/section}
                </select>
                <INPUT type="submit">
                 </form>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td style="vertical-align:top">
            <table border class="lmsbox">
                <thead>
                    <tr>
                        <th>{t}month{/t}</th>
                        <th>{t}added customers{/t}</th>
                        <th>{t}deleted customers{/t}</th>
                        <th>{t}balance{/t}</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach from=$customers item=i}
                    <tr>
                        <td>{$i.month}</td>
                        <td>{$i.added}</td>
                        <td>{$i.deleted}</td>
                        <td>{$i.balance}</td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </td>
    </tbody>
</table>
{include file="footer.html"}